body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
}

/* intro section  */

.heading-name {
  color: orange;
}

.section {
  display: flex;
}

.intro-section {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}

.intro {
  width: 50%;
}

.intro-text {
  padding-left: 7%;
  padding-right: 2%;
  text-align: justify;
}

.intro-details {
  color: rgb(98, 119, 137);
}

.intro-image {
  padding-left: 2%;
  margin-top: 1%;
}

.intro-image img {
  width: 90%;
  height: auto;
}

.hire-btn {
  text-decoration: none;
  background-image: linear-gradient(orange, rgb(203, 69, 69));
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
}

/* skill section  */

.skill-section {
  margin-top: 150px;
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.skill {
  width: 50%;
}

.skill-image {
  padding-left: 7%;
  padding-right: 5%;
  text-align: justify;
}

.skill-image img {
  width: 100%;
}

.skill-text {
  padding-left: 2%;
  padding-right: 4%;
  margin-top: 1%;
}

/* experiences list  */
.experiences{
    margin-top: 100px;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0% 80%;
}

.experinece-text{
    margin-left: 5%;
}

.experience-lists {
  width: 85%;
  padding: 0px 28px 70px;
  border-radius: 10px;
  box-shadow: 10px 10px 35px #888;
}

#experience-list-1{
    border-left: 7px solid tomato;
    margin-left: 5%;
}

#experience-list-2{
    border-left: 7px solid blue;
    margin-left: 5.5%;
    margin-right: 4.5%;
}

footer p{
    text-align: center;
    margin-top: 150px;
}